{{#link-to "moderation.flags.flag" flag class="flag-item-link"}}
  <div class="flag-item-text">
    <div class="flag-item-date">{{sometimes-relative-date date=flag.date}}</div>

    {{violation-list flag=flag}}

    {{#if flag.text}}
      {{rich-text text=flag.text class="flag-item-comment"}}
    {{/if}}
  </div>
  {{violation-status report=flag.report}}
{{/link-to}}
