<div class="form-controls">
  {{paper-button
    label=(t "general.cancel")
    onClick=(action "handleCancel")
    data-test-form-controls-cancel=""
  }}

  {{paper-button
    label=(t "general.submit")
    onClick=(action "handleSubmit")
    disabled=disabled
    raised=true
    primary=true
    data-test-form-controls-submit=""
  }}
</div>

{{yield}}
