{{#if componentPath}}
  {{#liquid-tether
    target="body"
    attachment="top left"
    targetAttachment="top left"
    class="main-modal"
  }}
    <div class="main-modal-screen" {{action "close"}}></div>
    {{component componentPath options=options}}
  {{/liquid-tether}}
{{/if}}
