<div class="moderation-controls">
  {{#if currentUser.user.isModerator}}
    {{#link-to "moderation.reports.index"}}{{t "moderation.reports"}}{{/link-to}}
  {{/if}}
  {{#link-to "moderation.flags.index"}}{{t "moderation.flags"}}{{/link-to}}
  {{#link-to "moderation.warnings.index"}}{{t "moderation.warnings"}}{{/link-to}}
</div>
