{{#each orderedPosts as |post|}}
  {{#each post.images as |image|}}
    {{timeline-image
      image=image
      navState=navState
    }}
  {{/each}}
{{/each}}

<div class="timeline-ui-pointer-container">
  {{#each-in pointers as |direction hidden|}}
    {{timeline-ui-pointer direction=direction hidden=hidden}}
  {{/each-in}}
</div>
