{{timeline-slider classNames="timeline-controls-element"}}
<span class="timeline-controls-element">{{fa-icon "heart-o" size=2}}</span>
<span class="timeline-controls-element">{{fa-icon "comment-o" size=2 flip="horizontal"}}</span>
