{{#if hasViolations}}
  <ul class="violation-aggregator">
    {{#each-in violations as |type amount|}}
      <li class="violation-aggregator-item">{{type}}: {{amount}};</li>
    {{/each-in}}
  </ul>
{{/if}}
