{{#paper-form classNames="identities-form" onSubmit=(action "submit" changesets) as |form|}}
  <div class="identities-form-identities">
    {{#each changesets as |userIdentity|}}
      {{identities-form/identity userIdentity=userIdentity removeUserIdentity=(action "removeUserIdentity" userIdentity)}}
    {{/each}}
  </div>

  <div class="identities-form-controls">
    {{yield (hash
      newUserIdentity=(action "newUserIdentity")
      userIdentities=changesets
    )}}
  </div>
{{/paper-form}}
