.post-nav-slideshow-quantifiables-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.62);
  transition: opacity 500ms;
  z-index: 11;

  &.hidden {
    opacity: 0;
  }
}

.routine-level-up {
  color: green;
}

.routine-level-down {
  color: red;
}
