.post-nav-slideshow-quantifiables-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.62);
  transition: opacity 500ms;
  z-index: 11;

  &.hidden {
    opacity: 0;
  }
}

.post-nav-slideshow-quantifiable {
  display: flex;
  padding: $rhythm;
  border-bottom: thin solid rgba(0, 0, 0, 0.38);
  font-size: 115%;

  &.quantifiable-yellow {
    background-color: rgba(247, 228, 162, $quantifiable-background-opacity);
  }

  &.quantifiable-green {
    background-color: rgba(167, 189, 91, $quantifiable-background-opacity);
  }

  &.quantifiable-red {
    background-color: rgba(220, 87, 78, $quantifiable-background-opacity);
  }

  &.quantifiable-blue {
    background-color: rgba(141, 199, 184, $quantifiable-background-opacity);
  }

  &.quantifiable-orange {
    background-color: rgba(237, 147, 85, $quantifiable-background-opacity);
  }
}

.post-nav-slideshow-quantifiable-icon {
  align-self: center;
  flex-shrink: 0;
  width: 75px;
  text-align: center;
}

.post-nav-slideshow-quantifiable-name {
  font-weight: bold;
  font-size: 115%;
}

.routine-level {
  white-space: nowrap;
}

.routine-level-values {
  display: inline-flex;
  flex-direction: column;
  font-weight: bold;
  vertical-align: middle;
}

.routine-level-previous {
  width: 100%;
  border-bottom: thin solid rgba(0, 0, 0, 0.38);
  margin-bottom: 1px;
  text-align: center;
  font-size: 40%;
}

.routine-level-new {
  font-size: 60%;
  text-align: center;
}

.routine-level-up, .routine-level-down {
  font-size: 125%;
  margin-left: 2px;
}

.routine-level-up {
  color: green;
  position: relative;
  bottom: -4px;
}

.routine-level-down {
  color: red;
}
