.post-nav-slideshow-quantifiables-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: blue;
  transition: opacity 500ms;
  z-index: 11;
  opacity: 0.68;

  &.hidden {
    opacity: 0;
  }
}
