.post-nav-slideshow-main {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 200px;
  perspective: 100px;
  margin: 0 auto;
  overflow: hidden;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  cursor: pointer;
  user-select: none;
}

.post-nav-slideshow-post {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 $rhythm $dark-gray;
  z-index: 1;
  will-change: transform, opacity;

  .reveal-text-toggle {
    display: none;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &.post-nav-slideshow-post-blank {
    .post-nav-slideshow-panels, .post-nav-resize-toggle {
      display: none;
    }

    .post-nav-post {
      .post-nav-post-constraint {
        height: 90%;
        overflow: hidden;
      }

      .reveal-text-toggle {
        display: flex;
      }
    }

    .post-nav-post.text-revealed {
      .post-nav-post-constraint {
        height: inherit;
        overflow: visible;
      }

      .reveal-text-toggle {
        display: none;
      }
    }
  }
}

.post-nav-slideshow-panels {
  flex-grow: 1;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 200px;
  border: thin solid $medium-gray;
  transition: flex-shrink 750ms ease-in-out;

  &.compressed {
    flex-shrink: 1;
  }
}

.post-nav-slideshow-panel {
  z-index: 1;
  background-color: $medium-gray;
}

// @media screen and (min-height: 1350px)
// {
//   .post-nav-slideshow-main {
//     height: 1350px;
//   }
// }
//
// $post-nav-slideshow-breakpoints: (
//   10000: 84,
//   1200: 82,
//   1100: 81,
//   1000: 80,
//    900: 78
// );
//
// @each $media-height, $height in $post-nav-slideshow-breakpoints {
//   @media screen and (max-height: 168vw) and (max-height: #{$media-height}px)
//   {
//     .top-bar-layout-constraint {
//       width: 76vh;
//     }
//
//     .main-layout-constraint {
//       width: #{$height * 0.8}vh;
//     }
//
//     .post-nav-slideshow-main {
//       height: #{$height}vh;
//     }
//   }
// }
//
// $post-nav-slideshow-small-breakpoints: (
//   800: 77,
//   700: 74,
//   600: 68,
//   500: 60,
//   400: 50
// );
//
// @each $media-height, $height in $post-nav-slideshow-small-breakpoints {
//   @media screen and (max-height: 168vw) and (max-height: #{$media-height}px)
//   {
//     .top-bar-layout-constraint {
//       width: 100%;
//     }
//
//     .main-layout-constraint {
//       width: 100%;
//     }
//
//     .post-nav-slideshow-main {
//       height: #{$height}vh;
//       width: #{$height * 0.8}vh;
//     }
//   }
// }
