$black: #030303;
$dark-gray: #333;
$medium-gray: #666;
$light-gray: #ccc;
$white: #fff;
$highlight-color: #f0c420;
$text-color: $dark-gray;
$primary-font-family: "Comfortaa", Helvetica Neue, Helvetica, Arial, sans-serif; 
$rhythm: 12px;

$button-margin: $rhythm;
$button-padding: 0 $rhythm;
$button-border-radius: 2px;
