@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');

$text-color: #333;

body > .ember-view, html, body, .app-component {
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
}

body > .ember-view {
  display: flex;
  flex-direction: column;
}

html, body {
  margin: 0;
  padding: 0;
  color: $text-color;
  background-color: #fafafa;
  font-family: 'Comfortaa', cursive;
}

[data-ember-action], a, button, input, .link {
  cursor: pointer;
}

.top-bar {
  display: flex;
  flex-shrink: 0;
  align-items: baseline;
  background-color: #fff;
  border-bottom: 1px solid #999;

  .top-bar-element {
    display: inline-block;
    padding: 10px;
  }

  .top-bar-title {
    flex-grow: 1;

    a {
      color: $text-color;
      font-weight: bold;
      font-size: 150%;
      text-decoration: none;
    }
  }
}

.timeline-ui {
  position: relative;
  flex-shrink: 0.1;
  height: 100%;
  width: 100%;
  max-height: 125vw;
  max-width: 1080px;
  perspective: 100px;
  margin: 0 auto;
  overflow: hidden;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  cursor: pointer;
  background-color: #222;
}

@media screen and (min-height: 1350px)
{
  .timeline-ui {
    height: 1350px;
  }
}

.timeline-image {
  position: absolute;
  height: 100%;
  width: 100%;
  will-change: transform;
  object-fit: cover;
  object-position: center center;
  background-color: #ccc;
  pointer-events: none;
  box-shadow: 0 0 10px #333;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.timeline-post {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #fff;
  border-top: 1px solid #999;
  padding: 10px;
}

.timeline-post-date {
  opacity: 0.8;
  margin-bottom: 10px;
  font-size: 68%;
}

.timeline-controls {
  display: flex;
  flex-shrink: 0;
  background-color: #fff;
  border-top: 1px solid #999;

  .timeline-controls-element {
    display: inline-block;
    padding: 10px;
  }

  .timeline-slider {
    flex-grow: 1;
  }
}
