@import "variables";
@import "ember-paper";
@import "paper-overrides";
@import "fonts";
@import "helpers";
@import "components";

@import "node_modules/ember-emojione/app/styles/helpers/mixin";
@import "node_modules/ember-emojione/app/styles/components/emoji-assist";
@import "node_modules/ember-emojione/app/styles/components/emoji-picker";

@mixin emojione-size ($target-size, $original-size: 64px) {
  transform: scale(#{$target-size / $original-size});
  margin: ($target-size - $original-size) / 2;
}

.emojione {
  @include emojione-size(18px);
}

* {
  &:focus {
    outline: 0;
  }
}

html, body {
  overscroll-behavior: none;
}

html {
  // https://developers.google.com/web/updates/2016/12/url-bar-resizing
  // ensure resizing when andriod chrome address bar disappears
  position: fixed;
}

body > div:nth-last-child(1 of :not(.ember-view)) {
  // ensure that recaptcha appears on safari
  transform: translateZ(10px);
}

body > .ember-view:not(.liquid-destination), html, body, .main-application-content {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.main-application-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

html, body {
  margin: 0;
  padding: 0;
  color: $text-color;
  background-color: #fff;
  font-family: $primary-font-family;
}

[data-ember-action], a, button, input {
  cursor: pointer;
}

a, button {
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.main-application-content > .liquid-container {
  flex-grow: 1;
}

.main-application-content > .liquid-container > .liquid-child {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.liquid-destination:not(.default-liquid-destination) {
  z-index: 9;
}

p {
  margin: $rhythm 0;
}

.grecaptcha-badge {
  position: static !important;
  width: 100% !important;
  height: inherit !important;
  box-shadow: none !important;
  text-align: right;

  .grecaptcha-logo {
    margin: $rhythm * 2 $rhythm $rhythm;
  }

  iframe {
    width: 100% !important;
  }
}

.main-content {
  overflow: auto;
}

.link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.undecorated {
  text-decoration: none;
}

.true-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infinite-loader {
  height: 50px;
}

.full-height-scrollable-content {
  height: 100%;
  overflow: auto;
  padding: $rhythm;

  a {
    word-break: break-all;
  }
}

.at-username {
  color: $medium-gray;
  font-weight: normal;
}

.text-button {
  width: 100%;
  text-align: right;
  font-size: 80%;
  margin: $rhythm 0 0;
}

.pikaday-input {
  padding: $rhythm / 4 $rhythm;
}

.link-like {
  font-family: $primary-font-family;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.cover-page {
  display: flex;
  flex-direction: column;
  padding: $rhythm;
  height: 100%;
  max-height: 900px;
}

.cover-page-main {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
}

.cover-page-block {
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
}

.cover-page-lead {
  font-size: 125%;
  margin-top: 0;
  margin-bottom: $rhythm * 2;
}

.cover-page-sub-header {
  font-size: 135%;
  font-weight: bold;
  text-align: center;
  margin-top: $rhythm * 3;
  margin-bottom: $rhythm * 2;
}

.cover-page-follow-up {
  font-size: 115%;
  text-align: justify;
  margin-bottom: $rhythm;
}

.cover-page-feature-list {
  margin-top: $rhythm * 2;
  padding-left: $rhythm;
  list-style: none;
  font-size: 95%;

  li {
    display: flex;
    align-items: center;
    margin-bottom: $rhythm;

    .cover-page-feature-list-icon {
      margin-right: $rhythm;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  i {
    flex-shrink: 0;
    width: 50px;
    text-align: center;
  }
}

.cover-page-note {
  flex-grow: 1;
  margin-top: $rhythm * 6;
  padding-top: $rhythm;
  border-top: 3px dashed $dark-gray;
  font-size: 110%;
  text-align: justify;
}



.follow-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 $rhythm;
  overflow-y: auto;
  overflow-x: hidden;
  list-style-type: none;
}

.follow-item {
  display: flex;
  height: 80px;
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  margin: $rhythm $rhythm 0 0;
}

.follow-item-link {
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.follow-item-avatar {
  height: 100%;
  object-fit: cover;
  border-radius: $rhythm;
  margin-right: $rhythm;
}

.follow-item-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.follow-item-username {
  flex-shrink: 0;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 17px;
  font-size: 80%;
}

.follow-item-secondary-title {
  color: $medium-gray;
  font-size: 80%;
  vertical-align: middle;
}

.follow-item-description {
  margin-top: $rhythm / 3;
  overflow: hidden;

  .profile-identities {
    padding: 0;
    flex-wrap: nowrap;
  }
}

.follow-item-button {
  margin: 2px 0 0;
}


.ember-webrtc-capture {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .ember-webrtc-capture-switch {
    position: absolute;
    top: $rhythm * 2;
    left: $rhythm * 2;
    z-index: 10;
    color: $light-gray;
    text-shadow: 0 1px 1px $dark-gray;
  }

  video, canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  canvas {
    display: none;
  }

  .ember-webrtc-capture-video-flipped {
    transform: rotateY(180deg);
  }

  .ember-webrtc-capture-no-device {
    padding: $rhythm * 2;
    border-bottom: 2px dashed $black;
  }
}

.post-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.post-form-image-editor-large-media {
  display: none;
}

.post-form-main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.post-form-text-and-meta {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 300px;
  border-top: thin solid $light-gray;
}

.post-form-content-warnings {
  margin: $rhythm 0 0;
  padding: 0;
  width: inherit;

  label, input {
    padding-left: $rhythm !important;
  }

  label {
    width: inherit !important;
  }

  .md-errors-spacer {
    display: none;
  }
}

.post-form-meta {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  padding: $rhythm $rhythm;
  justify-content: space-between;
  border-bottom: 2px dashed $dark-gray;

  .md-checkbox {
    margin: 0;
  }

  .pikaday-input {
    border: 0;
    padding: 0;
    text-align: right;
    width: 160px;
    z-index: 1;
    background: transparent;
  }

  .post-form-date-label {
    position: absolute;
    top: $rhythm;
    right: $rhythm;
  }
}

.post-form-text-emoji-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-height: 200px;
}

.post-form-textarea-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
}

.post-form-taggable-textarea {
  display: flex;
  flex-grow: 1;
}

.post-form-textarea {
  flex-grow: 1;
  resize: none;
  padding: $rhythm;
  border: 0 !important;
  outline: 0;
}

.post-form-text-emoji-toggler {
  position: absolute;
  bottom: 0;
  right: 0;
  background: none;
  border: none;
  outline: none;
  opacity: 0.68;

  .emojione {
    margin: 0;
  }
}

.post-form-text-emoji-picker {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.post-form-controls {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: $white;
  border-top: 2px dashed $dark-gray;
  border-bottom: 0;
  padding-bottom: 0;

  :first-child {
    margin-right: auto;
  }

  :last-child {
    margin-left: auto;
  }
}

.post-form-controls-element {
  position: relative;
  display: inline-block;
  padding: $rhythm;
  background: none;
  border: none;

  &.post-form-controls-element-active {
    background-color: $dark-gray;
    color: $white;
  }
}


@media (min-width: 800px) {
  .post-form-main {
    flex-direction: row;
    overflow: hidden;

    .post-form-image-editor {
      width: 450px;
      border-right: 2px dashed $dark-gray;
      overflow: auto;
    }

    .post-form-image-editor-large-media {
      display: block;
    }

    .post-form-text-and-meta {
      border-top: 0;
      overflow: auto;
    }
  }

  .post-form-controls-element-small-media {
    display: none;
  }

  .cover-page-main {
    flex-grow: 1;
  }

  .cover-page-block {
    width: 50%;
    padding: $rhythm * 3;
  }

  .cover-page-lead {
    font-size: 185%;
  }

  .cover-page-paragraph {
    font-size: 125%;
  }

  .cover-page-feature-list {
    margin-top: $rhythm * 3;
    font-size: 110%;
  }

  .cover-page-note {
    font-size: 125%;
  }
}

@media (pointer: coarse) {
  .eeo-emojiPicker-toggler {
    display: none;
  }
}


button, a {
  transition: all 250ms !important;

  &:hover, &:focus {
    font-weight: 900 !important;
    font-size: 125% !important;
  }
}

md-input-container.md-default-theme {
  .md-input {
    border-bottom: 2px dashed $dark-gray;
    transition: all 250ms;
  }

  label {
    color: $dark-gray;
  }
}

md-input-container.md-default-theme.md-focused.md-input-focused {
  .md-input {
    border-style: solid;
    border-color: $dark-gray;
    border-bottom-width: 4px;
  }

  label {
    color: $dark-gray;
  }
}

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
  background-color: $primary-color;
}

md-checkbox.md-default-theme:not(.md-checked) .md-icon, md-checkbox:not(.md-checked) .md-icon {
  border: 2px dashed $dark-gray;
}

.ember-text-area {
  border: 2px dashed $dark-gray;
  transition: all 250ms;

  &:focus {
    outline: 0;
    border-width: 4px;
    border-style: solid;
  }
}

.md-default-theme.md-button.md-raised, .tag-summary-time-button {
  box-shadow: 0;
  border: 2px dotted transparent;
  background-color: $white;
  color: $medium-gray;

  &:hover, &:focus {
    border-color: $medium-gray;
    font-size: 105% !important;

    &:not(:disabled) {
      background-color: $white;
    }
  }
}

.md-default-theme.md-button.md-primary.md-raised, .tag-summary-time-button-primary {
  border: 4px solid $dark-gray;
  background-color: $white;
  color: $dark-gray;
  box-shadow: 0;

  &:hover, &:focus {
    border-color: $dark-gray;
    color: $white;

    &:not(:disabled) {
      background-color: $primary-color;
    }
  }

  &:disabled {
    border-color: $light-gray;
    background-color: $light-gray;
    color: $medium-gray;

    &:hover, &:focus {
      font-weight: initial !important;
      font-size: initial !important;
    }
  }
}

.birthday-form {
  margin-bottom: $rhythm;

  label {
    align-items: center !important;
  }

  a {
    display: none;
  }
}

.account-field {
  margin: $rhythm * 2 $rhythm;
}

.suggestions-modal {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  max-height: 607px;
}

.suggestions-modal-main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.suggestions-modal-button-container {
  flex-shrink: 0;
}

.suggestions-modal-suggestions {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
}
