.post-nav-chat-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(100%, 0, 0);
  margin-left: 10%;
}

.post-nav-chat-spinner {
  text-align: center;
  margin-top: 40vh;
}
