.post-nav-chat-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(100%, 0, 0);
  margin-left: 15%;
}

.post-nav-chat-spinner {
  text-align: center;
  margin-top: 40vh;
}

.post-nav-first-to-comment {
  color: $medium-gray;
}

.post-nav-first-to-comment-icons {
  margin-top: $rhythm;
  text-shadow: 0px 0px $rhythm / 4 $light-gray;
}
