.timeline-item-nav-controls-main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  background-color: $white;
  padding: 4px;
  padding-bottom: 0;
  font-size: 85%;
  z-index: 1;

  :last-child {
    margin-left: auto;
  }
}

.timeline-item-nav-controls-element {
  position: relative;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: $rhythm;
  margin: 0;
  min-height: inherit;
  min-width: inherit;
  background-color: transparent;
  border: 0;
  border-radius: 50%;

  &:focus {
    background-color: rgba(158, 158, 158, 0.2);
    outline: 0;
  }
}

.reaction-icon {
  position: relative;
  transition: opacity 500ms;

  i {
    transition: color 500ms, text-shadow 500ms;

    &.reacted {
      color: $highlight-color;
      text-shadow: 0px 0px $rhythm $highlight-color;
    }
  }

  &.disabled i {
    opacity: 0.38;
  }
}

.reaction-selector-modal {
  display: flex;
  align-items: center;
  border-radius: 25px;
  box-shadow: 1px 1px 3px $dark-gray;
  background-color: $white;
  padding: 0 $rhythm / 2;

  .reaction-selector-modal-view-all {
    margin-left: $rhythm * 2;
    margin-right: $rhythm / 2;
  }
}

.timeline-item-nav-chat-icon {
  position: relative;
  top: -2px;

  .chat-total {
    top: 2px;
  }
}

.comment-controls {
  .timeline-item-nav-controls-element {
    padding: 0 $rhythm / 4;
  }

  .fa {
    position: relative;
    font-size: 125%;
  }
}

@media screen and (max-height: 800px) {
  .timeline-item-nav-controls-main {
    border-left: 0;
    border-right: 0;
  }
}
