.timeline-item-nav-post {
  display: flex;
  flex-direction: column;
  flex-shrink: 5;
  position: relative;
  min-height: 70px;
  overflow: hidden;
  background-color: $white;
  z-index: 3;
  transition: flex-shrink 500ms ease-out;

  .timeline-item-nav-post-cws-container {
    margin: $rhythm / 2 $rhythm $rhythm;
    font-size: 82%;
  }

  .timeline-item-nav-post-cws {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;

    .timeline-item-nav-post-cw {
      display: inline;

      &:after {
        content: ",";
      }

      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }

  .timeline-item-nav-post-text-version {
    border-bottom: thin solid $light-gray;
    margin-bottom: $rhythm;
  }

  .timeline-item-nav-post-meta {
    span, a, i {
      vertical-align: middle;
    }
  }

  .timeline-item-nav-post-date {
    font-size: 80%;
    font-weight: 300;
    margin-right: $rhythm / 2;
  }

  .timeline-item-nav-post-username {
    color: $text-color;
    font-size: 110%;
    font-weight: 600;
    text-decoration: none;
  }

  .timeline-item-nav-post-current-text {
    display: inline;

    p {
      // use padding, as margins will prevent touch events from firing
      padding-top: $rhythm;
      margin: 0;
    }

    p:first-child {
      display: inline;
    }
  }

  .timeline-item-nav-post-text {
    overflow-x: hidden;
    overflow-y: auto;
    padding: $rhythm;
    padding-top: 0;
  }

  .reveal-text-toggle {
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    margin-top: $rhythm / 2;
    border: 2px dashed $medium-gray;
    background-color: $white;
    color: $medium-gray;
    min-height: 50px;
  }

  &.scroll-locked {
    overflow-y: hidden;
  }

  &.expanded {
    flex-shrink: 1;
  }

  p {
    margin-top: 0;
    margin-bottom: 1em;
  }

  .timeline-item-nav-post-top-line {
    display: flex;
  }
}

@media screen and (max-height: 800px) {
  .timeline-item-nav-post {
    border-left: 0;
    border-right: 0;
  }
}
