.timeline-item-nav-chat-main {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-top: thin dashed $light-gray;
  z-index: 10;
}

.timeline-item-nav-chat-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline-item-nav-first-to-comment {
  margin: $rhythm;
  color: $medium-gray;
}

.timeline-item-nav-first-to-comment-icons {
  margin-top: $rhythm;
  text-shadow: 0px 0px $rhythm / 4 $light-gray;
}
