{{#if chatIsOpen class="cross-fade"}}
  {{post-nav/chat/content timelineItem=timelineItem routeComment=routeComment isModerating=isModerating}}
{{else}}
  <div class="post-nav-chat-spinner">
    {{fa-icon "moon-o" size=5}}
  </div>
{{/if}}
