{{#each notifications as |notification|}}
  {{top-bar/notifications/notification notification=notification menuContent=menuContent}}
{{else}}
  {{#if loading}}
    <li class="notifications-loading">
      {{fa-icon "spinner" pulse=true size=5}}
    </li>
  {{/if}}
{{/each}}

{{#menuContent.menu-item onClick="seeAllNotifications"}}
  {{t "notifications.seeAllNotifications"}}
{{/menuContent.menu-item}}
