{{#each notifications as |notification|}}
  {{top-bar/notifications/notification notification=notification toggleNotifications=toggleNotifications}}
{{/each}}

<li class="notification"><a class="notification-link notification-link-all" {{action "seeAllNotifications"}}>{{t "notifications.seeAllNotifications"}}</a></li>
