.comments {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.comments-container {
  flex-grow: 1;
  overflow: auto;
  padding: $rhythm / 2;
}

.comment {
  margin-bottom: $rhythm;
}

.is-route-comment {
  background: $highlight-color;
  border-radius: $rhythm / 2;
  padding: $rhythm / 2;
}

.comment-deleted {
  margin-left: $rhythm;
  color: $light-gray;
}

.comment-muted {
  opacity: 0.5;
}

.comment-text-version {
  padding-bottom: $rhythm;
  margin-bottom: $rhythm;
  border-bottom: thin solid $medium-gray;
}

.comment-content {
  display: flex;
}

.comment-profile {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  flex-direction: column;
  width: 40px;
  overflow: hidden;
  margin-right: $rhythm / 2;
  text-decoration: none;
}

.comment-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-bottom: $rhythm / 2;
}

.comment-pronouns {
  font-size: 45%;
  color: $medium-gray;
  font-weight: bold;
  text-align: center;
  word-break: break-word;
}

.comment-user-link {
  color: $text-color;
  font-weight: bold;
  text-decoration: none;
  margin-right: $rhythm / 2;
}

.comment-text {
  font-size: 80%;
  min-height: 33px;

  p {
    margin: $rhythm / 2 0 0;
  }

  div > p:first-of-type {
    display: inline;
  }
}

.comment-controls {
  margin-top: $rhythm / 4;
  padding-top: $rhythm / 4;
  color: $medium-gray;
  font-size: 65%;
}

.comment-children {
  margin-top: $rhythm;
  margin-left: 40px + $rhythm / 2;

  > div:last-child {
    margin-bottom: 0;
  }
}

.comment-load-more {
  font-size: 80%;
  text-decoration: underline;
}

.comment-text.comment-text-is-overflown {
  position: relative;
  height: 100px;
  overflow: hidden;

  .comment-text-expand-overflow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: $rhythm / 1.5;
    border: 2px dashed $medium-gray;
    text-align: center;
    color: $medium-gray;
  }
}

.comment.is-collapsed-child {
  font-size: 95%;
  margin-bottom: $rhythm / 2;

  .comment-username-link {
    display: none;
  }

  .comment-profile {
    width: 20px;
  }

  .comment-avatar {
    width: 15px;
    height: 15px;
    margin-bottom: 0;
  }

  .comment-pronouns {
    display: none;
  }

  .comment-main {
    max-height: 15px;
    overflow: hidden;
  }

  .comment-user-link {
    margin-right: $rhythm / 4;
  }
}
