.comments {
  overflow: auto;
  height: 100%;
  border-left: dashed 2px $medium-gray;
  padding: $rhythm / 2;
}

.comment {
  display: flex;
  margin-bottom: $rhythm;
}

.comment-profile {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  flex-direction: column;
  width: 50px;
  overflow: hidden;
  margin-right: $rhythm / 2;
  text-decoration: none;
}

.comment-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-bottom: $rhythm / 2;
}

.comment-pronouns {
  font-size: 50%;
  color: $medium-gray;
  font-weight: bold;
  text-align: center;
  word-break: break-word;
}

.comment-user-link {
  color: $text-color;
  font-weight: bold;
  text-decoration: none;
  margin-right: $rhythm / 2;
}

.comment-text {
  font-size: 80%;

  p {
    margin: $rhythm / 2 0 0;
  }

  > p:first-of-type {
    display: inline;
  }
}

.comment-controls {
  margin-top: $rhythm / 4;
  padding-top: $rhythm / 4;
  color: $medium-gray;
  font-size: 70%;
}
