.comments {
  overflow: auto;
  height: 100%;
  border-left: dashed 2px $medium-gray;
  padding: $rhythm / 2;
}

.comment {
  display: flex;
  margin-bottom: $rhythm;
}

.comment-profile {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  flex-direction: column;
  width: 40px;
  overflow: hidden;
  margin-right: $rhythm / 2;
  text-decoration: none;
}

.comment-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-bottom: $rhythm / 2;
}

.comment-pronouns {
  font-size: 45%;
  color: $medium-gray;
  font-weight: bold;
  text-align: center;
  word-break: break-word;
}

.comment-user-link {
  color: $text-color;
  font-weight: bold;
  text-decoration: none;
  margin-right: $rhythm / 2;
}

.comment-text {
  font-size: 80%;
  min-height: 33px;

  p {
    margin: $rhythm / 2 0 0;
  }

  > p:first-of-type {
    display: inline;
  }
}

.comment-controls {
  margin-top: $rhythm / 4;
  padding-top: $rhythm / 4;
  color: $medium-gray;
  font-size: 65%;
}

.comment-children {
  margin-top: $rhythm;

  > div:last-child {
    margin-bottom: 0;
  }
}

.comment-load-more {
  font-size: 80%;
  text-decoration: underline;
}

.comment.is-collapsed {
  font-size: 95%;
  margin-bottom: $rhythm / 2;

  .comment-profile {
    width: 20px;
  }

  .comment-avatar {
    width: 15px;
    height: 15px;
    margin-bottom: 0;
  }

  .comment-pronouns {
    display: none;
  }

  .comment-main {
    max-height: 15px;
    overflow: hidden;
  }

  .comment-user-link {
    margin-right: $rhythm / 4;
  }
}
