.form-controls {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  button {
    font-size: 105%;
  }

  .form-controls-align-left {
    margin-right: auto;
    font-size: 80%;
  }
}

.form-message {
  margin: $rhythm;
  font-size: 80%;
  text-align: right;
}

.form-message-success {
  color: green;
}

.form-message-failure {
  color: red;
}
