.main-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.main-modal-content {
  background-color: $white;
  padding: $rhythm;
  max-height: 68%;
  width: 95vw;
  max-width: 375px;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px $dark-gray;
  z-index: 101;
  transform: translateZ(1px);
}

.main-modal-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.38);
}

.confirmation-modal {
  background-color: $white;
  padding: $rhythm * 2;
  margin: $rhythm * 2;
  z-index: 102;
  border-radius: $rhythm;
}

.confirmation-modal-buttons {
  display: flex;
  margin-top: $rhythm;

  button {
    flex-grow: 1;
    margin: 0;

    &:first-child {
      margin-right: $rhythm;
    }
  }
}
