.moderation-controls {
  display: flex;
  flex-shrink: 0;
  border-bottom: thin solid $dark-gray;

  a {
    flex-grow: 1;
    padding: $rhythm;
    color: $text-color;
    border: thin solid $light-gray;
    text-decoration: none;
    text-align: center;
  }
}

.violation-aggregator {
  list-style: none;
  padding: 0;
}

.violation-aggregator-item {
  display: inline;
}

.violation-list {
  font-weight: bold;
  line-height: 120%;
  list-style: none;
  margin: $rhythm 0 0;
  padding: 0;
}

.violation-list-item {
  display: inline;
  margin-right: $rhythm / 2;
  white-space: nowrap;

  i {
    margin-right: $rhythm / 4;
    color: $medium-gray;
  }
}

.moderation-report-items {
  margin: 0;
  padding: 0 $rhythm;
  list-style-type: none;
}

.moderation-report-item {
  height: 80px;
  width: 100%;
  overflow: hidden;
  margin: $rhythm 0;
}

.moderation-report-item-link {
  display: flex;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.moderation-report-item-avatar {
  height: 100%;
  object-fit: cover;
  border-radius: $rhythm;
  margin-right: $rhythm;
}

.moderation-report-item-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.moderation-report-item-username {
  flex-shrink: 0;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 17px;
  font-size: 80%;
}

.moderation-report-item-secondary-title {
  color: $medium-gray;
  font-size: 80%;
  vertical-align: middle;
}

.moderation-report-item-description {
  font-size: 80%;
  overflow: hidden;
  text-overflow: ellipsis;

  p:first-child {
    margin-top: 0;
  }
}

.moderation-container {
  display: flex;
  flex-direction: column;
}

.moderation-panel {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-height: 75%;
  overflow-x: auto;
  box-shadow: 1px 1px 5px $light-gray;
  z-index: 10;
}

.moderation-panel-nav {
  display: flex;
  flex-shrink: 0;

  a {
    flex-grow: 1;
    text-align: center;
    padding: $rhythm;
  }

  .selected, &:focus {
    color: $black;
    background: $light-gray;
  }

  .moderation-panel-nav-comments {
    color: $medium-gray;
  }
}

.moderation-panel-content {
  padding: 0 $rhythm $rhythm;
  overflow-x: auto;
  border-top: 1px solid $light-gray;

  .violation-aggregator {
    margin: $rhythm / 2 0;
    font-weight: bold;
  }
}

.moderation-panel-blank-info {
  text-align: center;
  padding: $rhythm * 3 0;
}

.moderation-panel-date {
  color: $medium-gray;
  font-size: 80%;
}

.moderation-panel-item {
  padding-top: $rhythm;
  border-bottom: thin solid $dark-gray;
}

.moderation-panel-item-link {
  display: block;
  color: $text-color;
  text-decoration: none;
}

.moderation-panel-form {
  padding-top: $rhythm * 2;
}

.moderation-panel-checkboxes {
  display: flex;
  justify-content: space-between;

  .pikaday-input {
  }
}

.moderation-panel-note {
  margin-bottom: $rhythm;
  font-size: 85%;
  opacity: 0.85;
}

.moderation-panel-checkboxes-with-duration {
  margin-bottom: $rhythm;
}

.moderation-panel-checkbox-with-duration {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin: 0 !important;
}

.moderation-panel-comment-field {
  .md-errors-spacer {
    display: none;
  }
}

.moderation-panel-controls {
  display: flex;

  button {
    flex-grow: 1;
  }
}

.flag-item {
  border-bottom: thin solid $dark-gray;
  margin-top: $rhythm;
}

.flag-item-link {
  display: flex;
  text-decoration: none;
  color: $text-color;
}

.flag-item-date {
  color: $medium-gray;
  font-size: 80%;
}

.flag-item-flaggable-link {
  display: block;
  margin: $rhythm 0;
}

.flag-item-text {
  flex-grow: 1;
}

.flag-item-comment {
  font-size: 80%;
}

.flag-item-moderator-comment {
  border-top: thin dashed $dark-gray;
  padding: $rhythm 0;
  font-size: 80%;

  p:first-of-type {
    display: inline;
  }
}

.flag-item-moderator-link {
  color: $text-color;
  font-weight: bold;
  text-decoration: none;
  margin-right: $rhythm / 2;
}

.flag-item-status {
  display: flex;
  align-items: center;
  justify-content: center;
}

.violation-status {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 80%;
  width: 80px;
  text-align: center;

  div {
    font-size: 70%;
    margin-top: $rhythm / 3;
  }
}
