.number-bubble {
  position: absolute;
  top: 0;
  right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  font-size: 62%;
  padding-top: 2px;
  box-sizing: border-box;
  box-shadow: 0 0px 2px 0 $light-gray;
}
