@import "post-nav/chat";
@import "post-nav/controls";
@import "post-nav/post";
@import "post-nav/slideshow";

.post-nav-outer-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.post-nav {
  height: 100%;

  .post-nav-slideshow-main, .post-nav-chat-main {
    transition: transform 750ms;
  }

  &.chat-is-open {
    .post-nav-slideshow-main {
      transform: translate3d(-85%, 0, 0);
    }

    .post-nav-chat-main {
      transform: translate3d(0, 0, 0);
    }
  }
}
