.reaction-items {
  display: flex;
  flex-wrap: wrap;
  padding: 0 $rhythm;
  list-style-type: none;
}

.reaction-selector-modal-close {
  position: fixed;
  height: 500vh;
  width: 500vw;
  transform: translate3d('-50%, -50%, 0');
}

.reaction-item {
  height: 80px;
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  margin: $rhythm $rhythm 0 0;
}

.reaction-item-link {
  display: flex;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.reaction-item-avatar {
  height: 100%;
  object-fit: cover;
  border-radius: $rhythm;
  margin-right: $rhythm;
}

.reaction-item-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.reaction-item-username {
  flex-shrink: 0;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 17px;
  font-size: 80%;
}

.reaction-item-secondary-title {
  color: $medium-gray;
  font-size: 80%;
  vertical-align: middle;
}

.reaction-item-description {
  font-size: 80%;
  overflow: hidden;
  text-overflow: ellipsis;

  p:first-child {
    margin-top: 0;
  }
}

.reaction-item-reaction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  align-self: center;
  width: 50px;
  color: $highlight-color;
  text-shadow: 0px 0px $rhythm $highlight-color;
}
