.taggable-textarea {
  position: relative;
}

.taggable-textarea-options {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  background: $white;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 $light-gray;
}

.taggable-textarea-option {
  padding: 0 $rhythm / 2;
  display: flex;
  align-items: center;

  &:focus {
    color: $white;
    background-color: $dark-gray;
  }
}

.taggable-textarea-option-text {
  display: inline-block;
  padding: $rhythm;
}

.taggable-textarea-option-avatar {
  height: 30px;
  width: 30px;
  border-radius: 10px;
}
