.tag-summary-submenu-clear {
  padding: 0 $rhythm * 2;
  align-self: center;
  font-size: 150%;
  opacity: 0.68;
  transition: opacity 250ms;

  &.disabled {
    opacity: 0.32;
  }
}

.tag-summary-time-buttons, .tag-summary-list {
  display: flex;
  padding: $rhythm / 2;
}

.tag-summary-time-button, .tag-summary-list-item {
  flex-grow: 1;
  margin: $rhythm / 2;
  text-transform: none;
}

.tag-summary-list {
  display: none;
  overflow-x: auto;
  flex-wrap: wrap;

  &.tag-summary-list-active {
    display: flex;
  }
}

.tag-summary-time-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 1;
  flex-shrink: 0;
  margin-top: auto;
  box-shadow: 0 -2px 2px 0 $light-gray;
}

.tag-summary-time-button {
  color: $dark-gray;
  border: thin solid $light-gray;
  text-decoration: none;
  padding: $rhythm * 0.68;
  border-radius: $button-border-radius;
  text-align: center;
  box-shadow: 0 2px 1px 0 $light-gray;
}

.tag-summary-time-button-primary {
  width: 75%;
  background-color: #3f51b5;
  color: $white;
}
