.tag-summary-time-buttons, .tag-summary-list {
  display: flex;
  flex-wrap: wrap;
  padding: $rhythm / 2;
}

.tag-summary-time-button, .tag-summary-list-item {
  flex-grow: 1;
  margin: $rhythm / 2;
  text-transform: none;
}

.tag-summary-list-divider {
  width: 100%;
  border: 2px dashed $medium-gray;
  margin: $rhythm / 1.5 $rhythm / 2;
  opacity: 0.38;
}

.tag-summary-list {
  overflow-x: auto;
}

.tag-summary-time-buttons {
  z-index: 1;
  flex-shrink: 0;
  margin-top: auto;
  box-shadow: 0 -2px 2px 0 $light-gray;
}

.tag-summary-time-button {
  color: $dark-gray;
  border: thin solid $light-gray;
  text-decoration: none;
  padding: $rhythm * 0.68;
  border-radius: $button-border-radius;
  text-align: center;
  box-shadow: 0 2px 1px 0 $light-gray;
}
