@import "timeline-item-nav/chat";
@import "timeline-item-nav/controls";
@import "timeline-item-nav/post";
@import "timeline-item-nav/slideshow";

.timeline-item-nav-none {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.timeline-item-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;
}
