.top-bar {
  flex-shrink: 0;
  background-color: #fff;
  border-bottom: 1px solid #999;
  z-index: 10000;

  .top-bar-content {
    display: flex;
    align-items: baseline;
  }

  .top-bar-element {
    display: inline-block;
    padding: 10px;
  }

  .top-bar-title {
    flex-grow: 1;
    font-weight: bold;
    font-size: 150%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.top-bar-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: thin solid #999;
  padding: 10px;
  margin: 0;
  list-style-type: none;
  background-color: #fff;
}
