.top-bar {
  position: relative;
  flex-shrink: 0;
  background-color: $white;
  border-bottom: 1px solid $medium-gray;
  z-index: 10;

  .top-bar-content {
    display: flex;
    align-items: center;
  }

  .top-bar-element {
    display: inline-block;
    padding: $rhythm;
  }

  .top-bar-element-grow {
    flex-grow: 1;
    overflow: hidden;
  }

  .top-bar-search {
    width: 100%;
    font-size: 1.4em;
    outline: 0;
    border: 0;
    padding: 0;
  }

  .top-bar-title {
    font-weight: bold;
    font-size: 150%;
    text-overflow: ellipsis;
    overflow: hidden;
    align-self: flex-end;
  }
}

.top-bar-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: thin solid $medium-gray;
  padding: $rhythm;
  margin: 0;
  list-style-type: none;
  background-color: $white;
}
