.moderation-controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: $rhythm;
  border-bottom: thin solid $light-gray;
}

.violation-report-items {
  margin: 0;
  padding: 0 $rhythm;
  list-style-type: none;
}

.violation-report-item {
  height: 60px;
  width: 100%;
  overflow: hidden;
  margin: $rhythm 0;
}

.violation-report-item-link {
  display: flex;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.violation-report-item-avatar {
  height: 100%;
  object-fit: cover;
  border-radius: $rhythm;
  margin-right: $rhythm;
}

.violation-report-item-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.violation-report-item-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  div {
    margin-top: $rhythm / 5;
    font-size: 55%;
    font-weight: normal;
  }
}

.violation-report-item-username {
  flex-shrink: 0;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 17px;
  font-size: 80%;
}

.violation-report-item-secondary-title {
  color: $medium-gray;
  font-size: 80%;
  vertical-align: middle;
}

.violation-report-item-description {
  font-size: 80%;
  overflow: hidden;
  text-overflow: ellipsis;

  p:first-child {
    margin-top: 0;
  }
}

.moderation-panel {
  display: flex;
  flex-direction: column;
  max-height: 75%;
  overflow-x: auto;
  box-shadow: 1px 1px 5px $dark-gray;
  z-index: 10;
}

.moderation-panel-nav {
  display: flex;
  flex-shrink: 0;

  a {
    flex-grow: 1;
    text-align: center;
    padding: $rhythm;
  }

  .selected, &:focus {
    color: $white;
    background: $dark-gray;
  }

  .moderation-panel-nav-comments {
    color: $medium-gray;
  }
}

.moderation-panel-content {
  padding: $rhythm;
  overflow-x: auto;
  border-top: 1px solid $dark-gray;

  .violation-aggregator {
    margin: $rhythm / 2 0;
    font-weight: bold;
  }
}

.moderation-panel-blank-info {
  text-align: center;
  padding: $rhythm * 3 0;
}

.moderation-panel-flag-count {
  font-weight: bold;
  margin-bottom: $rhythm / 2;
  padding-bottom: $rhythm;
  border-bottom: 3px dashed $light-gray;
}

.moderation-panel-date {
  color: $medium-gray;
  font-size: 80%;
}

.moderation-panel-item {
  padding-top: $rhythm;
  border-bottom: thin solid $light-gray;
}

.moderation-panel-checkboxes {
  display: flex;
  justify-content: space-between;
  margin-top: $rhythm;
}

.moderation-panel-comment-field {
  .md-errors-spacer {
    display: none;
  }
}

.moderation-panel-controls {
  display: flex;

  a {
    flex-grow: 1;
  }
}

.flag-item {
  border-bottom: thin solid $dark-gray;
  margin-top: $rhythm;
}

.flag-item-link {
  display: flex;
  text-decoration: none;
  color: $text-color;
}

.flag-item-text {
  flex-grow: 1;
}

.flag-item-violation {
  font-weight: bold;
  margin-right: $rhythm / 2;
  white-space: nowrap;
  line-height: 120%;

  i {
    margin-right: $rhythm / 4;
    color: green;
  }
}

.flag-item-comment {
  font-size: 80%;
}

.flag-item-status {
  display: flex;
  align-items: center;
  justify-content: center;
}
