{{#cw-interface content=timelineItem.model}}
  <div class="timeline-item-nav-post-and-panels">
    {{timeline-item-nav/slideshow/post/panels
      panels=sortedPanels
      activePanels=activePanels
      scrollLeft=scrollLeft
      slidePanels=slidePanels
      defaultPanelHeight=defaultPanelHeight
      setPanelIndex=(action "setPanelIndex")
    }}

    <div class="timeline-item-nav-post-comment-container">
      {{#timeline-item-nav/slideshow/post/text
        chatIsOpen=chatIsOpen
        historyIsRevealed=historyIsRevealed
        timelineItem=timelineItem.model
        post=post
        isBlank=isBlank
        isCurrentTimelineItem=isCurrentTimelineItem
        scrollLocked=(not-eq navState.progress 0)
        classNames="main-layout-constraint"
        isModerating=isModerating
      }}
        {{#if (not isModerating)}}
          {{timeline-item-nav/slideshow/post/controls/main
            historyIsRevealed=historyIsRevealed
            timelineItem=timelineItem.model
            isCurrentTimelineItem=isCurrentTimelineItem
            isModerating=isModerating
            sortedPanels=sortedPanels
            navState=navState
            fullShare=fullShare
            commentCount=timelineItem.model.commentCount
            panelIndex=panelIndex
            classNames="main-layout-constraint"
            toggleChat=(action "toggleChat")
            toggleHistory=(action "toggleHistory")
            removePost=removePost
          }}
        {{/if}}
      {{/timeline-item-nav/slideshow/post/text}}
    </div>
  </div>

  {{#if (and chatIsOpen timelineItem.model.isLoaded)}}
    {{timeline-item-nav/chat/content
      timelineItem=timelineItem.model
      routeComment=routeComment
      isModerating=isModerating
    }}
  {{/if}}
{{/cw-interface}}
