{{#if group}}
  <li class="search-bar-results-group">
    <span class="search-bar-results-group-name">{{name}}</span>
    <ul class="search-bar-results-group-items">
      {{yield group}}
    </ul>
  </li>
{{/if}}
