<p>{{model.description}}</p>

<ul>
  {{#each-in model.tagSummary as |tag amount|}}
    <li>{{#link-to "users.user.timeline" (query-params tag=tag)}}{{tag}}: {{amount}}{{/link-to}}</li>
  {{/each-in}}
</ul>

{{#link-to "users.user.timeline" (query-params direction="desc")}}From end{{/link-to}}
{{#link-to "users.user.timeline"}}From beginning{{/link-to}}
