.post-nav-controls-main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  background-color: $white;
  border: 1px solid $medium-gray;
  border-bottom: 0;
  padding: 4px;
  padding-bottom: 0;
  font-size: 85%;
}

.post-nav-controls-element {
  position: relative;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: $rhythm;
}

.fav-icon {
  position: relative;
  transition: opacity 500ms;

  i {
    transition: color 500ms, text-shadow 500ms;
  }

  &.faved i {
    color: $highlight-color;
    text-shadow: 0px 0px $rhythm $highlight-color;
  }

  &.disabled i {
    opacity: 0.38;
  }

  .fav-icon-total {
  }
}

.fav-selector {
  border-radius: 25px;
  box-shadow: 1px 1px 3px $dark-gray;
  background-color: $white;
  padding: $rhythm / 1.5 $rhythm 0;
}

.post-nav-chat-icon {
  .chat-total {
  }
}

.comment-controls {
  .post-nav-controls-element {
    padding: 0 $rhythm;
  }

  .number-bubble {
    position: relative;
    top: -3px;
    right: 0;
    box-shadow: none;
    font-size: 125%;
    display: inline;
    width: initial;
  }

  .fa {
    position: relative;
    font-size: 175%;
  }
}

@media screen and (max-height: 800px) {
  .post-nav-controls-main {
    border-left: 0;
    border-right: 0;
  }
}
