.post-nav-post {
  display: flex;
  flex-direction: column;
  flex-shrink: 5;
  height: 100vh;
  min-height: 70px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $white;
  border: 1px solid $medium-gray;
  border-bottom: 0;
  padding: $rhythm;
  z-index: 3;
  transition: flex-shrink 500ms ease-out;

  .reveal-text-toggle {
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    margin-top: $rhythm / 2;
    border: 2px dashed $medium-gray;
    color: $medium-gray;
  }

  &.scroll-locked {
    overflow-y: hidden;
  }

  &.expanded {
    flex-shrink: 1;
  }

  p {
    margin-top: 0;
    margin-bottom: 1em;
  }

  .post-nav-post-top-line {
    display: flex;
  }

  .post-nav-post-date {
    opacity: 0.8;
    margin-bottom: $rhythm;
    font-size: 68%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .post-nav-resize-toggle {
    position: relative;
    margin-left: auto;
    flex-shrink: 0;
    width: 27px;

    a {
      position: absolute;
      top: -$rhythm;
      right: -$rhythm;
      display: block;
      padding: $rhythm;
    }

    i {
      font-size: 20px;
    }
  }
}

@media screen and (max-height: 800px) {
  .post-nav-post {
    border-left: 0;
    border-right: 0;
  }
}
