.top-bar-layout-constraint {
  margin: 0 auto;
  box-sizing: border-box;
}

.main-layout-constraint {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.content-constraint, .top-bar-layout-constraint {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.scrollable {
  overflow: auto;
}

.padded {
  padding: $rhythm;
}

.width-100 {
  width: 100%;
}

.margin-0 {
  margin: 0;
}

.text-center {
  text-align: center;
}
