.identities-form-identity {
  border-bottom: 2px dashed $dark-gray;
  padding-bottom: $rhythm;
  margin-bottom: $rhythm;

  md-input-container {
    margin-bottom: 0;
  }
}

.identities-form-identity-additional {
  display: flex;
  font-size: 80%;
}

.identities-form-identity-more-options {
  text-decoration: underline;
  margin-left: auto;
}

.identities-form-identity-button {
  width: 100%;
  margin: $rhythm * 2 0 $rhythm / 2;
  font-size: 70%;
  line-height: 250%;
  min-height: inherit;
}
