.identities-form-identity {
  border-bottom: 2px dashed $light-gray;
  padding-bottom: $rhythm;
  margin-bottom: $rhythm;

  md-input-container {
    margin-bottom: 0;
  }
}

.identities-form-identity-additional {
  display: flex;
  font-size: 80%;
}

.identities-form-identity-more-options {
  text-decoration: underline;
  margin-left: auto;
}

.identities-form-identity-date {
  margin-top: $rhythm;
  display: flex;
  align-items: flex-end;

  label {
    width: 100px;
  }

  input {
    flex-grow: 1;
    margin-right: $rhythm;
  }

  a {
    align-self: center;
  }
}

.identities-form-identity-date-blank {
  font-size: 80%;
  margin-top: 3px;
}

.identities-form-identity-button {
  width: 100%;
  margin: $rhythm * 2 0 $rhythm / 2;
  font-size: 70%;
  line-height: 250%;
  min-height: inherit;
}
