.timeline-item-nav-slideshow-panel {
  &.timeline-item-nav-slideshow-image {
    object-fit: cover;

    &.deleted {
      opacity: 0.38;
    }
  }

  &.timeline-item-nav-slideshow-blank {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
