.timeline-item-nav-slideshow-panel {
  will-change: transform;
  background-color: $light-gray;
  box-shadow: 0 0 $rhythm $dark-gray;
  will-change: transform, opacity;

  &.timeline-item-nav-slideshow-image {
    object-fit: cover;
    pointer-events: none;

    &.deleted {
      opacity: 0.38;
    }
  }

  &.timeline-item-nav-slideshow-blank {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
