.timeline-item-nav-slideshow-main {
  flex-grow: 1;
  position: relative;
  perspective: 100px;
  margin: 0 auto;
  overflow: hidden;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  cursor: pointer;
  user-select: none;
}

.timeline-item-nav-slideshow-post {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 $rhythm $dark-gray;
  background-color: $white;
  z-index: 1;
  will-change: transform, opacity;

  .reveal-text-toggle {
    display: none;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &.timeline-item-nav-slideshow-post-blank {
    .timeline-item-nav-slideshow-panels, .timeline-item-nav-resize-toggle {
      display: none;
    }

    .timeline-item-nav-post {
      .timeline-item-nav-post-constraint {
        height: 85%;
        overflow-y: hidden;
      }

      .reveal-text-toggle {
        display: flex;
      }
    }

    .timeline-item-nav-post.text-revealed {
      .timeline-item-nav-post-constraint {
        height: inherit;
        overflow-y: visible;
      }

      .reveal-text-toggle {
        display: none;
      }
    }
  }

  &:not(.chat-is-open) {
    .timeline-item-nav-chat-main {
      height: 0;
    }
  }
}

.timeline-item-nav-slideshow-panels {
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  margin: 0 auto;
  transition: flex-shrink 750ms ease-in-out;
  overflow: hidden;
}

@media (min-width: 1440px) {
  .timeline-item-nav-slideshow-panels {
    max-height: 1800px;
  }
}

.timeline-item-nav-slideshow-panel {
  z-index: 1;
  background-color: $medium-gray;
}

.timeline-item-nav-slideshow-nsfw {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $rhythm * 2;
  box-sizing: border-box;
  background: $white;

  h2 {
    margin: 0 0 $rhythm;
  }

  .timeline-item-nav-slideshow-nsfw-info {
    margin-bottom: $rhythm;
  }

  .timeline-item-nav-slideshow-nsfw-buttons {
    display: flex;
    margin-top: auto;

    button {
      flex-grow: 1;
      margin: 0;

      &:first-child {
        margin-right: $rhythm;
      }
    }
  }
}

.timeline-item-nav-resize-toggle {
  position: absolute;
  bottom: $rhythm / 2;
  right: $rhythm;
  width: 27px;
  height: 27px;
  z-index: 3;

  a {
    position: absolute;
    color: $white;
    top: -$rhythm;
    right: -$rhythm;
    display: block;
    padding: $rhythm;
    border-radius: 50%;
    text-shadow: 1px 1px rgba(100, 100, 100, 0.62);
    transition: opacity 250ms;

    &.disabled {
      opacity: 0;
    }
  }

  i {
    font-size: 20px;
  }
}

.timeline-item-nav-post-comment-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1000px) {
  .timeline-item-nav-post-comment-container {
    flex-grow: 1;
    overflow: auto;
  }

  .timeline-item-nav-slideshow-main {
    position: relative;
  }

  .timeline-item-nav-slideshow-panels {
    flex-grow: 0;
  }

  .timeline-item-nav-slideshow-post {
    flex-direction: row-reverse;

    .timeline-item-nav-controls-main {
      border-top: 0;
    }

    &.chat-is-open {
    }
  }

  .timeline-item-nav-post {
    flex-grow: 1;
    height: 100%;
    min-height: 50%;
  }

  .timeline-item-nav-post-meta {
    display: block;
    margin-bottom: $rhythm;
  }

  .timeline-item-nav-post .timeline-item-nav-post-current-text {
    display: block;
  }
}

@media (max-width: 999px) {
  .timeline-item-nav-slideshow-post {
    &.chat-is-open {
      overflow-y: auto;

      .timeline-item-nav-post {
        min-height: 200px;
      }

      .timeline-item-nav-slideshow-panels {
        height: 25% !important;
        width: 100% !important;
      }
    }
  }
}
