.timeline-item-nav-slideshow-main {
  perspective: 100px;
  margin: 0 auto;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  overflow: auto;
}

.timeline-item-nav-slideshow-post {
  display: flex;
  flex-direction: column;
  background-color: $white;
  z-index: 1;
  will-change: transform, opacity;

  .reveal-text-toggle {
    display: none;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .reveal-text-toggle {
    display: flex;
  }

  .timeline-item-nav-post.text-revealed {
    .reveal-text-toggle {
      display: none;
    }
  }

  &.timeline-item-nav-slideshow-post-blank {
    .timeline-item-nav-slideshow-panels, .timeline-item-nav-resize-toggle {
      display: none;
    }
  }

  &:not(.chat-is-open) {
    .timeline-item-nav-chat-main {
      height: 0;
    }
  }
}

.timeline-item-nav-slideshow-panels {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  margin: 0 auto;
  overflow: auto;
}

.timeline-item-nav-slideshow-panel {
  z-index: 1;
}

.timeline-item-nav-slideshow-nsfw {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $rhythm * 2;
  box-sizing: border-box;
  margin: 0 auto;

  h2 {
    margin: 0 0 $rhythm;
  }

  .timeline-item-nav-slideshow-nsfw-info {
    margin-bottom: $rhythm;
  }

  .timeline-item-nav-slideshow-nsfw-buttons {
    display: flex;
    margin-top: auto;

    button {
      flex-grow: 1;
      margin: 0;

      &:first-child {
        margin-right: $rhythm;
      }
    }
  }
}

.timeline-item-nav-post-comment-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.timeline-item-nav-post-constraint {
  overflow: hidden;

  &.timeline-item-nav-post-constraint-revealed {
    overflow: auto;
  }
}

@media (min-width: 800px) {
  .timeline-item-nav-post-comment-container {
    overflow: auto;
  }

  .timeline-item-nav-slideshow-main {
    position: relative;
  }

  .timeline-item-nav-slideshow-panels {
    flex-grow: 0;
  }

  .timeline-item-nav-resize-toggle {
    display: none;
  }

  .timeline-item-nav-slideshow-post {
    flex-direction: row;

    .timeline-item-nav-controls-main {
      border-top: 0;
    }

    &.chat-is-open {
    }
  }

  .timeline-item-nav-post {
    flex-grow: 1;
    height: 100%;
    min-height: 50%;
  }

  .timeline-item-nav-post-meta {
    display: block;
    margin-bottom: $rhythm;
  }

  .timeline-item-nav-post .timeline-item-nav-post-current-text {
    display: block;
  }
}

@media (max-width: 799px) {
  .timeline-item-nav-slideshow-main {
    flex-grow: 1;
  }

  .timeline-item-nav-slideshow-post {
    &.chat-is-open {
      overflow-y: auto;

      .timeline-item-nav-post {
        min-height: 200px;
      }
    }
  }
}

.timeline-item-nav-slideshow-panels {
  overflow-x: auto;
  overflow-y: hidden;
}

@media (max-width: 799px) {
  .timeline-item-nav-slideshow-panels {
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
  }

  .timeline-item-nav-slideshow-panel {
    scroll-snap-align: start;
  }

  .timeline-item-nav-post-comment-container {
    max-height: 250px;
    box-sizing: border-box;
  }


  .timeline-item-nav-slideshow-post-blank {
    .timeline-item-nav-post-comment-container {
      border-top: 4px dashed $dark-gray;
      border-bottom: 4px dashed $dark-gray;
    }

    + .timeline-item-nav-slideshow-post-blank {
      .timeline-item-nav-post-comment-container {
        border-top: 0;
      }
    }
  }
}

@media (min-width: 800px) {
  .timeline-item-nav-slideshow-post {
    padding: 0 $rhythm 1px;
    margin: 0 auto;
  }

  .timeline-item-nav-post-comment-container, .timeline-item-nav-slideshow-nsfw {
    padding: $rhythm * 2;
  }

  .timeline-item-nav-slideshow-panels, .timeline-item-nav-slideshow-panel {
    height: 500px;
  }

  .timeline-item-nav-post-comment-container {
    border: 4px solid $dark-gray;
    max-height: 500px;
    box-sizing: border-box;
  }

  .timeline-item-nav-slideshow-panels {
    order: 2;
    flex-shrink: 1;
    margin: 0;
  }

  .timeline-item-nav-slideshow-panels-content {
    height: 100%;
    width: 100%;
  }

  .timeline-item-nav-slideshow-panel {
    flex-shrink: 0;
    width: 400px;
    margin-right: 1px;
  }

  .timeline-item-nav-post-comment-container {
    flex-shrink: 0;
    flex-grow: 0;
    width: 400px;
    transition: width 250ms;
    box-sizing: border-box;
    margin-right: 1px;

    &:hover {
      width: 800px;
    }
  }

  .timeline-item-nav-slideshow-post-blank {
    .timeline-item-nav-post-comment-container {
      width: 100%;
      flex-shrink: 1;
      margin: $rhythm * 4 0;
      border-radius: $rhythm * 4;
    }

    + .timeline-item-nav-slideshow-post-blank {
      .timeline-item-nav-post-comment-container {
        margin-top: 0;
      }
    }
  }
}