{{post-nav/controls/faves post=post}}
<a class="post-nav-controls-element post-nav-chat-icon">
  {{number-bubble number=0 classNames="chat-total"}}
  {{fa-icon "comment-o" size=2 flip="horizontal"}}
</a>
