<h2>{{t "identities.timeline"}}</h2>

{{#each-in userIdentityGroups as |name userIdentityGroup|}}
  <h3>{{name}}</h3>
  {{#each userIdentityGroup as |userIdentity|}}
    {{identities-timeline/identity userIdentity=userIdentity}}
  {{/each}}
{{/each-in}}
