{{#each posts as |post|}}
  {{#each post.panelsWithBlank as |panel|}}
    {{component panel.postNavComponent
      panel=panel
      navState=navState
    }}
  {{/each}}
{{/each}}

<div class="post-nav-slideshow-pointer-container">
  {{#each-in pointers as |direction icon|}}
    {{post-nav/slideshow/pointer
      direction=direction
      icon=icon
    }}
  {{/each-in}}
</div>
