<div class="post-nav-slideshow-quantifiable-icon">
  {{#if icon}}
    {{fa-icon icon size=2}}
  {{/if}}
</div>

<div class="post-nav-slideshow-quantifiable-text">
  <span class="post-nav-slideshow-quantifiable-name">
    {{name}}
  </span>
  {{text}}
</div>
