{{#if decoratedPosts}}
  {{post-nav/slideshow/main
    direction=direction
    decoratedPosts=decoratedPosts
    tag=tag
    post=post
    initialPostId=initialPostId
    lastPost=lastPost
    fullShare=fullShare
    isModerating=isModerating
    loadMorePosts=(action "loadMorePosts")
    changePost=(action "changePost")
    removePost=(action "removePost")
    toggleChat=(action "toggleChat")
    classNames="main-layout-constraint"
  }}

  {{post-nav/chat/main
    chatIsOpen=chatIsOpen
    post=post
    routeComment=routeComment
    isModerating=isModerating
  }}
{{else}}
  <div class="post-nav-none">
    {{t "post.none"}}
  </div>
{{/if}}
