{{#if decoratedTimelineItems}}
  {{post-nav/slideshow/main
    direction=direction
    decoratedTimelineItems=decoratedTimelineItems
    tag=tag
    timelineItem=timelineItem
    initialTimelineItemId=initialTimelineItemId
    lastTimelineItem=lastTimelineItem
    fullShare=fullShare
    isModerating=isModerating
    loadMoreTimelineItems=(action "loadMoreTimelineItems")
    changeTimelineItem=(action "changeTimelineItem")
    removeTimelineItem=(action "removeTimelineItem")
    toggleChat=(action "toggleChat")
    classNames="main-layout-constraint"
  }}

  {{post-nav/chat/main
    chatIsOpen=chatIsOpen
    timelineItem=timelineItem
    routeComment=routeComment
    isModerating=isModerating
  }}
{{else}}
  <div class="post-nav-none">
    {{t "post.none"}}
  </div>
{{/if}}
