{{post-nav/slideshow/post/controls/faves/fav-icon
  id=currentFavId
  favable=favable
  type=currentType
  disabled=disabled
  keyboardActivated=keyboardActivated
  isOpeningDisplayAllTypes=isOpeningDisplayAllTypes
  faved=(and (eq currentType currentType) faved)
  completeDisplayAllTypes=(action "completeDisplayAllTypes")
  displayAllTypes=(action "displayAllTypes")
  selectType=(action "selectType")
}}

{{#if shouldDisplayAllTypes}}
  {{#liquid-tether
    target=currentFavIdHash
    attachment=tetherAttachment
    targetAttachment="middle middle"
    class="fav-selector-modal"
  }}
    {{#each types as |type|}}
      {{post-nav/slideshow/post/controls/faves/fav-icon
        favable=favable
        type=type
        disabled=disabled
        isOpeningDisplayAllTypes=isOpeningDisplayAllTypes
        shouldDisplayAllTypes=shouldDisplayAllTypes
        faved=(and (eq currentType type) faved)
        completeDisplayAllTypes=(action "completeDisplayAllTypes")
        displayAllTypes=(action "displayAllTypes")
        selectType=(action "selectType")
      }}
    {{/each}}
    <a {{action "viewAllFaves"}} class="fav-selector-modal-view-all">{{t "faves.viewAll"}}</a>
  {{/liquid-tether}}
{{/if}}
