{{tag-summary/main
  tagSummaries=model
  selectedTagNames=tags
  selectedUserNames=relationships
  submenu=submenu
  addUserTagSummary=(route-action "addUserTagSummary")
}}

<div class="tag-summary-time-buttons">
  {{#link-to "users.user.timeline" (query-params tags=tags relationships=relationships) class="tag-summary-time-button"}}{{t "tagSummary.end"}}{{/link-to}}
  {{#link-to "users.user.timeline" (query-params tags=tags relationships=relationships lastTimelineItem=true) class="tag-summary-time-button tag-summary-time-button-primary"}}{{t "tagSummary.beginning"}}{{/link-to}}
</div>
