<div>{{category.name}}</div>

{{#each category.tags as |tag|}}
  {{#paper-button
    raised=true
    primary=tag.selected
    disabled=(not tag.isValid)
    onClick=(action "toggleTag" tag)
  }}{{tag.model.name}}: {{tag.amount}}{{/paper-button}}
{{/each}}
