{{#each decoratedTimelineItems as |timelineItem index|}}
  {{timeline-item-nav/slideshow/post/main
    chatIsOpen=chatIsOpen
    timelineItem=timelineItem
    navState=navState
    fullShare=fullShare
    panelHeight=panelHeight
    panelWidth=panelWidth
    isModerating=isModerating
    removePost=(action "removeTimelineItem" timelineItem)
    toggleChat=(action "toggleChat")
  }}
{{/each}}

<div class="timeline-item-nav-slideshow-pointer-container">
  {{#each-in pointers as |direction icon|}}
    {{timeline-item-nav/slideshow/pointer
      direction=direction
      icon=icon
    }}
  {{/each-in}}
</div>
