.timeline-image {
  position: absolute;
  height: 100%;
  width: 100%;
  will-change: transform;
  background-color: #ccc;
  pointer-events: none;
  box-shadow: 0 0 10px #333;
  object-fit: cover;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
