<div class="main-content content-constraint">
  {{account/password-form
    passwordChange=model.passwordChange
    submit=(route-action "changePassword")
  }}

  {{account/email-form
    emailChange=model.emailChange
    submit=(route-action "changeEmail")
  }}
  
  <div class="account-field">
    {{#paper-checkbox value=model.currentUser.isPublic onChange=(route-action "toggleIsPublic")}}
      {{{t "users.attributes.isPublic.label"}}}
    {{/paper-checkbox}}
  </div>
</div>
