<div id="infinite_content" class="notifications content-constraint">
  {{#menu-content-shim as |menuContent|}}
    {{#each model as |notification|}}
      {{top-bar/notifications/notification notification=notification menuContent=menuContent}}
    {{/each}}
  {{/menu-content-shim}}

  {{infinity-loader infinityModel=model}}
</div>
