<div class="suggestions-modal-main-content content-constraint">
  <h2 class="text-center">
    {{t "suggestions.description"}}
  </h2>

  {{user-suggestions classNames="suggestions-modal-suggestions"}}
</div>
